language: java
jdk:
- oraclejdk7
- oraclejdk8
- openjdk7
script: "mvn verify failsafe:integration-test failsafe:verify"
branches:
  except:
  - travis
notifications:
  email: false
after_success:
- mvn clean cobertura:cobertura coveralls:cobertura
