language: java
dist: trusty
jdk:
- oraclejdk8
- openjdk7
- openjdk10
- oraclejdk11
sudo: true
script: mvn verify failsafe:integration-test failsafe:verify
branches:
  except:
  - travis
notifications:
  email: false
after_success:
- mvn clean cobertura:cobertura coveralls:report
env:
  global:
    secure: GIdF3itH9owJXPEb/ri984853yRRIDeWbSZW7yMh6XOymGWAi0+3fGssBbHqjS/s3QgiDhnrKfDjF7UhHE1aeYCxgHM5QGOjfHUhOKevhUE4u0h4ysFS4wbh7zYODMzxdFpiKwdnNF+TvMctIReH5IVDu8gUxbNrcSXN6PQgvlM=
