language: java
dist: trusty
jdk:
- oraclejdk8
- openjdk7
- openjdk10
- oraclejdk11
sudo: true
script: "mvn verify failsafe:integration-test failsafe:verify"
branches:
  except:
  - travis
notifications:
  email: false
after_success:
- mvn clean cobertura:cobertura coveralls:cobertura

